{% extends 'courses_students_app/course/course_list.html' %}
{% load static %}

{% block title %} Info Curso {% endblock %}

{% block breadcrumb %}
    {{block.super}}
    <li class="breadcrumb-item"><a href="{% url 'courses_update' course.pk %}">Editar</a></li>
    <li class="breadcrumb-item"><a href="{% url 'courses_detail' course.pk %}">Detalles</a></li>
{% endblock %}

{% block content %}
<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="card-header">
            <h3 class="card-title">Información del <span>| curso</span></h3>
        </div>
        <div class="card-body">
            <p>Nombre: <b>{{course.name}}</b></p>
            <p>Fecha Inicio: <b>{{course.start_date|date}}</b></p>
            <p>Fecha Fin: <b>{{course.end_date|date}}</b></p>
            <p>Horario: <b>{{course.get_schedule_display}}</b></p>
            <br>
            <p><b>Estudiantes:</b></p>
                <ol>
                {% for student in course.students.all %}
                <li>{{student.full_info}}</li>
                {% endfor %}
                </ol>
        </div>
    </div>
</div>

{% endblock %}